<?xml version="1.0" encoding="UTF-8"?>
<phpunit
	bootstrap="tests/bootstrap-integration.php"
	colors="true"
	failOnIncomplete="true"
	failOnRisky="true"
	failOnSkipped="true"
	failOnWarning="true"
	cacheResultFile=".phpunit.integration.result.cache"
>
	<testsuites>
		<testsuite name="PlumberSlot integration tests">
			<directory suffix="Test.php">tests/Integration</directory>
		</testsuite>
	</testsuites>
</phpunit>
